/* general */
@import "reset.css";
@import "text-styles.css";

/* components */
@import "menu.css";
@import "button.css";
@import "slider.css";
@import "contact-card.css";
@import "contact-form.css";
@import "event-section.css";
@import "article-section.css";
@import "simple-list.css";
@import "accordion.css";
@import "simple-list.css";
@import "calendar.css";
@import "newsletter.css";
@import "footer.css";

/* pages */
@import "home.css";
@import "servizi.css";
@import "chi-siamo.css";
@import "contatti.css";
@import "news.css";
@import "single-article.css";
@import "eventi.css";
@import "policies.css";

/* animations */

[data-aos="smooth-fade-up"] {
  transform: translateY(15px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="smooth-fade-up"].aos-animate {
  transform: translateY(0px);
  opacity: 1;
}
