.m-page-intro {
  padding: 0.5rem 16px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

.p-home {
  .m-page-intro {
    height: calc(100vh - 90px);
  }
}

@media (min-width: 850px) {
  .m-page-intro {
    align-items: center;
    text-align: center;
    padding: 3rem 60px;
    gap: 60px;
  }

  .p-home {
    .m-page-intro {
      height: calc(100vh - 110px);

      h1 {
        text-align: center;
      }
    }
  }
}

.m-courtesy-content {
  padding: 0.5rem 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  h2 {
    color: #ce6c47;
  }
}
